<template name="playersList">
  {{ #each players }}
    {{ player.lastname }}
    {{ player.firstname }}
    {{ player.number }}
    {{ player.age }}
    {{ player.weight }}
    {{ player.born }}
    {{ player.exp }}
    {{ player.team }}

    <a href="#" id="delete-btn"> delete </a>
  {{ /each }}

  <form id="form-insert">
    <div class="form-group">
    <input type="text" class="form-control" id="firstname" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="lastname" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="number" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="age" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="weight" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="born" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="exp" name="" value="">
    </div>

    <div class="form-group">
    <input type="text" class="form-control" id="team" name="" value="">
    </div>
    
    <input type="submit" class="btn btn-primary" name="" value="Add a player">
  </form>
</template>
