<template name="home">
  <div class="container-home">
  <div class="header-home">
  <img src="img/basketix_logo_white.png" alt="">
  {{#if currentUser }}
    Bonjour {{ currentUser.username }}
  {{/if}}


    {{#if currentUser}}
    <br>
      <a href="#" class="logout btn btn-primary">Déconnexion</a>
    {{else}}
      <a href="{{pathFor route='register'}}" class="btn btn-primary">S'inscrire</a>
      <a href="{{pathFor route='login'}}" class="btn btn-success">Se connecter</a>
    {{/if}}
  </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        {{ >myPlayersTable }}
      </div>
      <div class="col-md-4">
        {{ >TeamsTable}}
      </div>
      <div class="col-md-4">
        {{ >playersTable }}
      </div>
    </div>
  </div>
</template>
